# WHITELIST ===================================================================
# Due to the inundation of ~/.config files on Linux systems,
# this repository works on a whitelist basis.

/*
*cache*
*history*

!/.bash_profile
!/.bashrc
!/.bundle/config
!/.elinks/elinks.conf
!/.fbtermrc
!/.git
!/.gitignore
!/.gitmodules
!/.ignore
!/.irbrc
!/.mbsyncrc
!/.newsboat
!/.notmuch-config
!/.profile
!/.ruby-version
!/.ssh/authorized_keys
!/.ssh/config
!/.stignore
!/.stow-local-ignore
!/.tmux.conf
!/README.md
!/alacritty
!/cmus/rc
!/fbterm
!/git
!/htop
!/hub
!/i3
!/lftp/bookmarks
!/lftp/rc
!/msmtp
!/mutt
!/neofetch
!/qutebrowser/config.py
!/qutebrowser/quickmarks
!/ranger/*.conf
!/ranger/scope.sh
!/rtv/refresh-token
!/rtv/rtv.cfg
!/terminal.app
!/terminfo
!/tmux
!/torrench
!/wireshark/preferences
!/youtube-dl/config

# FRAGILE! .git/hooks/pre-commit uses the section below to package and encrypt 
# the listed files for safe dissemination. Do NOT add comments, file globs, or
# anything else other than valid, literal filenames.
# Secrets ======================================================================
/hub
/transmission-remote-gtk/config.json
/.gem/credentials
/.netrc
/.ngrok2/ngrok.yml
/.pocket-config
