# WHITELIST ===================================================================
# Due to the inundation of ~/.config files on Linux systems,
# this repository works on a whitelist basis.

/*
*cache*
*history*
/.local/share/fonts/**/.uuid

!/.bash_profile
!/.bashrc
!/.bundle/config
!/.elinks/elinks.conf
!/.fbtermrc
!/.git
!/.gitignore
!/.gitmodules
!/.ignore
!/.irbrc
!/.local
!/.mbsyncrc
!/.newsboat
!/.notmuch-config
!/.profile
!/.ruby-version
!/.ssh/authorized_keys
!/.ssh/config
!/.stignore
!/.stow-local-ignore
!/.tmux.conf
!/README.md
!/alacritty
!/autostart
!/cmus/rc
!/compton
!/fbterm
!/git/config
!/git/ignore
!/gnupg/gpg.conf
!/gnupg/gpg-agent.conf
!/htop
!/hub
!/i3
!/lftp/bookmarks
!/lftp/rc
!/logcheck
!/mbsync
!/mimeapps.list
!/msmtp
!/mutt
!/neofetch
!/qutebrowser/bookmarks/
!/qutebrowser/config.py
!/qutebrowser/quickmarks
!/ranger/
!/rtv/refresh-token
!/rtv/rtv.cfg
!/terminal.app
!/terminfo
!/tmux
!/torrench
!/wireshark/preferences
!/youtube-dl/config

# FRAGILE! .git/hooks/pre-commit uses the section below to package and encrypt 
# the listed files for safe dissemination. Do NOT add comments, file globs, or
# anything else other than valid, literal filenames.
# Secrets ======================================================================
/gnubiff/config
/hub
/transmission-remote-gtk/config.json
/.gem/credentials
/.netrc
/.ngrok2/ngrok.yml
/.pocket-config
